<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>changeData</title>
</head>
<body>
    <div style="width: 210;margin: 0 auto">
        <form method="post">
            {% csrf_token %}
            <label for="name">账号：</label>
            <input type="text" name="name" style="width: 150px"><br><br>
            <label for="passwod">密码：</label>
            <input type="password" name="password" style="width: 150px"><br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="reset" value="重新输入" class="btn btn-primary">&nbsp;&nbsp;&nbsp;<input type="submit" value="修改" class="btn btn-default">
        </form>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="../webdemo/">
            <button style="210px" class="btn btn-warning">返回</button>
        </a>
        {% if result.statu == 'success' %}
            <p style="text-align: center;color: green">修改成功！</p>
        {% elif result.statu == 'error' %}
            <p style="text-align: center;color: red">没有这个账号！</p>
        {% endif %}
</body>
</html>