<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>成功登陆！！！</h1>
        <form method="get">
{#            <h4>{{ name }}</h4>#}
            <h4>{{ user.username }}</h4>
            <h4>{{ user.userpassword }}</h4>
{#            {% for line in user %}#}
{#                <tr>#}
{#                    <td>{{user['username']}}</td>#}
{#                    <td>{{user['userpassword']}}</td>#}
{#                </tr>#}
{#             {% endfor %}#}
        </form>
    <a href="../changeData/">
                <button style="210px" class="btn btn-warning">修改密码</button>
            </a>
    <a href="/webdemo/">
                <button style="210px" class="btn btn-default">退出</button>
            </a>
</body>
</html>