<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
	<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <title>webDemo</title>
</head>
<body background="../../static/webDemo/login.png/">
    <div style="width: 210px;margin: 0 auto">
        <form method="post">
            {% csrf_token %}
             <label for="name">账号：</label>
            <input type="text" name="name" style="width: 150px"><br><br>
            <label for="passwod">密码：</label>
            <input type="password" name="password" style="width: 150px"><br><br>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp
            <input type="submit" value="登录" class="btn btn-default">
        </form>
    <a href="../dbtest/">
                <button style="210px">注册</button>
            </a>
        {% if result.statu == 'success' %}
            <p style="text-align: center;color: green">输入正确的账号密码以登录~</p>
        {% elif result.statu == 'error' %}
            <script>
                alert('账号或密码错误！')
            </script>
        {% endif %}
    </div>
    <a href="../deleteUpdata/">
                <button style="210px" class="btn btn-link">注销账户</button>
            </a>
</body>
</html>